<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.beeplanner">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.DespesasActivity"
            android:label="DespesasActivity"
            android:theme="@style/DespesasTheme"
        />
        <activity
            android:name=".activity.ReceitasActivity"
            android:label="ReceitasActivity"
            android:theme="@style/ReceitasTheme"
        />
        <activity
            android:name=".activity.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.CadastrarActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Intro">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>